body {
  position: relative;
  font-family: "Space Grotesk", "Inter", sans-serif;
  background-color: #f5f7fa; /* Light, clean background */
  color: #1a1a1a; /* Dark text for readability */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
  body {
    font-size: 1.1rem;
    font-family: "Space Grotesk", "Inter", sans-serif;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow-x: hidden;
  }

  .navbar .nav-tabs {
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 20px;
  }

  .navbar .nav-tabs li {
    margin: 10px 0;
  }

  .navbar .nav-tabs li a {
    color: white;
    text-decoration: none;
  }
}

/* Media Query for Tablets and Large Mobile Devices */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 1rem;
  }
}

/* Media Query for Laptops and Desktops */
@media only screen and (min-width: 1025px) {
  body {
    font-size: 1rem;
  }
}

/*About Page*/

.about-container {
  display: block;
  position: relative;
  margin-top: -1.8rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  background-size: cover;
  /* background-repeat: no-repeat; */
}

@media (max-width: 768px) {
  .about-container {
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
  }

  .content-container h1 {
    margin-right: 2.5rem;
  }

  .content-container h2 {
    margin-right: 2.5rem;
  }

  .content-container p {
    /* color: initial; */
    color:#007bff;
    margin-right: 2.5rem;
    width: 40%;
  }

  .about-background-video {
    width: 20%;
    height: 20%;
  }
}

.about-background-video {
  position: absolute;
  /* display: block; */
  width: 100%;
  height: 11%; /* Allow the video to maintain its aspect ratio */
  /* max-height: 80vh; */
  object-fit: cover;
  /* padding-bottom: 14rem; */
  margin-bottom: 3rem;
}

.content-container {
  /* position: relative; */
  margin: 0 auto;
  /* margin-top: 2rem; */
  /* transform: translate(-50%, -50%); */
  width: 100%;
  max-width: 700px;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
  padding: 20px; 
  z-index: 1; 
}


.content-container h1{
 font-size: 3rem;
 margin-top: 2rem;
 margin-bottom: 3rem;
 color: aliceblue;
 /* align-items: center; */
}

.content-container h2 {
  font-size: 2rem;
  margin-top: 3.5rem;
  /* align-items: center; */
  color: aqua;
}

.content-container p {
  font-size: 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  color: aqua;
}

.about-our-story {
  font-size: 1rem;
  margin-top: 9rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, aliceblue, rgb(148, 208, 228), aqua);
  width: 100%;
}

.innovation {
  /* float: right; */
  /* display: flex; */
  width: 35%;
  height: auto;
  margin-top: 14rem;
  /* margin-left: 2rem; */
  padding: 2.5rem;
}

.about-our-story h2 {
  font-size: 2rem;
  width: 100%;
  height: 100%;
  display: flex;  
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
}

.story-description {
  color: black;
  font-size: 1.1rem;
  width: 50%;
  height: 50%;
  display: flex;  
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
  margin-top: 14rem;
  margin-left: 2rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 
  border-radius: 10px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .about-our-story {
    align-items: flex-start; /* Align items to the left on mobile */
    flex-direction: column;
  }

  .innovation {
    width: 60%; /* Adjust image width for mobile */
    justify-content: center;
    margin-left: 6rem;    
    margin-top: 2rem;
  }

  .story-description {
    width: 40%;
    margin-left: 10rem;
    margin-top: 2rem;
  }
}


.about-our-mission {
  font-size: 1rem;
  margin-top: 1rem;
  color: #007bff;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.passion {
  /* float: left; */
  /* display: flex; */
  width: 40%;
  height: auto;
  margin-top: 3rem;
  /* margin-left: 2rem; */
  padding: 2.5rem;
}

.about-our-mission h2 {
  color: black;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  display: flex;  
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
}

.mission-description {
  font-size: 1.1rem;
  width: 50%;
  height: 50%;
  display: flex;  
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
  /* float: right; */
  margin-top: 2rem;
  margin-left: 2rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 
  border-radius: 10px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .about-our-mission {
    align-items: flex-start; /* Align items to the left on mobile */
    flex-direction: column;
  }

  .passion {
    width: 60%; /* Adjust image width for mobile */
    margin-top: 2rem;
    margin-left: 6rem;
  }

  .mission-description {
    width: 40%;
    margin-left: 9.5rem;
  }
}

.about-our-value {
  font-size: 1rem;
  margin-top: 3rem;
  color: #007bff;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, aliceblue, rgb(148, 208, 228));
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-our-value h2 {
  color: black;
  text-align: center;
}

.about-our-value p {
  text-align: center; /* Center the text */
  color: black;
}

.value-icon {
  width: 30%;
  margin-left: 4rem;
  justify-content: center;
  align-items: center;
}

.about-our-value ul {
  list-style: none; /* Remove the default list styles */
  padding: 0; /* Remove default padding */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin-left: 9rem;
}

.about-our-value ul li {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgba(255, 255, 255, 0.2); /* Glass effect background */
  backdrop-filter: blur(10px); /* Apply the blur effect */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px; /* Add padding to separate the cards */
  margin: 10px 0; /* Add margin to separate the cards vertically */
  transition: box-shadow 0.3s ease, background-color 0.3s ease; /* Smooth transitions */
  
  /* Define different background colors and box shadow colors */
}

.about-our-value ul li:nth-child(1),
.about-our-value ul li:nth-child(2),
.about-our-value ul li:nth-child(3),
.about-our-value ul li:nth-child(4),
.about-our-value ul li:nth-child(5),
.about-our-value ul li:nth-child(6),
.about-our-value ul li:nth-child(7),
.about-our-value ul li:nth-child(8) {
  width: 50%; /* Make all list items full width on mobile */
}

/* Define different colors for each list item */
.about-our-value ul li:nth-child(1):hover {
  box-shadow: 0px 0px 15px #ffa216; 
}

.about-our-value ul li:nth-child(2):hover {
  box-shadow: 0px 0px 15px #17ff8b;
}

.about-our-value ul li:nth-child(3):hover {
  box-shadow: 0px 0px 15px rgb(31, 255, 255);
}

.about-our-value ul li:nth-child(4):hover {
  box-shadow: 0px 0px 15px magenta;
}

.about-our-value ul li:nth-child(5):hover {
  box-shadow: 0px 0px 15px#6600cc; /* Purple */
}

.about-our-value ul li:nth-child(6):hover {
  box-shadow: 0px 0px 15px #11c3ff; /* Blue */
}

.about-our-value ul li:nth-child(7):hover {
  box-shadow: 0px 0px 15px#ffcc00; /* Yellow */
}

.about-our-value ul li:nth-child(8):hover {
  box-shadow: 0px 0px 15px #ff33cc; /* Pink */
}

/* Add more colors for additional list items as needed */

/* Change the box shadow color on hover */
.about-our-value ul li:hover {
  color: aqua; 
  background-color: black;  
  cursor: pointer; /* Change cursor to pointer on hover */
}

@media (max-width: 768px) {
  .about-our-value {
    align-items: center; /* Center the container vertically */
    text-align: center; /* Center the text within each card */
  }

  .about-our-value h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
  }

  .about-our-value p {
    width: 40%;
    margin-right: 3rem;
  }

  .about-our-value ul {
    grid-template-columns: repeat(1, 1fr); /* Change to a single column on mobile */
    margin-left: 3rem; /* Remove left margin */
    padding-left: 5rem;
    width: 70%;
    /* height: 50%; */
    /* max-width: 1000px; */
  }

  .about-our-value ul li {
    margin-left: 0; /* Remove any additional margin on mobile */
    /* width: 100%; */
  }

  .value-icon {
    width: 30%;
    margin-left: 3rem;
  }
}

.about-our-history {
  font-size: 1rem;
  margin-top: 1rem;
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-our-history h2 {
  color: black;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
}

.history-description {
  /* color: #007bff; */
  font-size: 1.1rem;
  width: 50%;
  height: 50%;
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  text-align: left;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 174, 249, 0.696);
}

.history-pic {
  width: 40%;
  height: auto;
  /* margin-top: 3rem; */
  margin-right: 3rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: row;
  float: right;
}

@media (max-width: 768px) {
  .about-our-history {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .history-description {
    margin-right: 5rem;
    width: 35%;
  }

  .history-pic {
    width: 60%; /* Adjust image width for mobile */
    margin-top: 2rem;
    margin-right: 3.5rem;
  }
}

.about-the-team {
  background: linear-gradient(to bottom, #000000, #003468);
  display: flex;
  flex-direction: column;
}

.about-the-team h2 {
  color: aqua;
  font-size: 2rem;
  padding-top: 2rem;
}

.about-the-team p {
  color: aliceblue;
  font-size: 1.2rem;
}

.team-member p {
  color: aqua;
  display: block;
  width: 50%;
  margin-left: 4rem;
}

.team-member {
  text-align: center; /* Center the image and text horizontally */
  width: 15%;
  height: auto;
  border-radius: 2%;
  margin-left: 1rem;
  margin-top: 1rem;   
}

.team-member-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0; /* Remove any default padding */
  outline: none; /* Remove the button outline on focus if needed */
}

.team-member:hover {
  cursor: pointer;
}

/* Style for the entire modal container */
.modal {
  display: flex; 
  position: fixed; /* Position it fixed over the page */
  z-index: 1; /* Ensure it's on top of other content */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  overflow: hidden; /* Prevent scrolling behind the modal */
}

/* Style for the modal content */
.modal-content {
  display: flex;
  background-color: #fff;
  position: absolute;
  /* left: 50%; */
  top: 50%;
  /* transform: translate(-50%, -50%); */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: left; /* Adjust text alignment to left */
  justify-content: center;
  align-items: center;
}

.social-icons-team-member {
  display: flex;
  margin-top: 10px; /* Adjust the spacing between the name and social icons */
  font-size: 1.5rem;
  justify-content: center;
}

.social-icons-team-member a {
  margin-right: 30px; /* Adjust the spacing between social icons */
}

.modal h2 {
  font-size: 1rem;
  width: 30%;
  text-align: center;
  margin-left: 9rem;
}

.modal img {
  width: 70%;
  /* height: 50%; */
  /* align-items: center; */
  margin-left: 4rem;
}

.modal p {
  flex: 1;
  padding: 0 20px;
  text-align: left;
}

/* Style for the close button (you can customize this) */
.close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .about-the-team {
    align-items: center;
    text-align: center;
  }

  .about-the-team h2 {
    margin-right: 3rem;
  }

  .about-the-team p {
    margin-right: 3rem;
    width: 40%;
  }
  
  .team-member {
    width: 30%;
    margin-right: 4rem;
  }
  
  .team-member p {
    text-align: center;
    align-items: center;
    width: 70%;
    margin-left: 2rem;
  }
}

.about-facts-figures {
  color: #007bff;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.about-facts-figures h2 {
  padding-top: 1rem;
  color: black;
  text-align: center;
}

.about-facts-figures p {
  text-align: center;
  font-size: 1.2rem;
  width: 75%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 13rem;
}

.facts-icon {
  width: 50%;
  margin-left: 2rem;
  justify-content: center;
  align-items: center;
}

.about-facts-figures ul {
  list-style: none;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75%;
  /* justify-content: center; */
  /* align-items: center; */
  margin-left: 12rem;
}

.about-facts-figures ul li {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 3rem;
  margin: 10px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}


@media (max-width: 768px) {
  .about-facts-figures {
    align-items: center;
    text-align: center;
  }

  .facts-icon {
    margin-left: 1rem;
  }

  .about-facts-figures h2 {
    font-size: 2rem;
    margin-right: 3rem;
  }
  
  .about-facts-figures p {
    margin-left: 9rem;
    width: 40%;
  }

  .about-facts-figures ul {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 8rem;
    /* padding-left: 1rem; */
    width: 50%;
  }
}

.about-partners {
  font-size: 2rem;  
  color: aliceblue;
  background-color: #007bff;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.about-partners h2 {
  color: aqua;
  text-align: center;
}

.about-partners p {
  font-size: 1.2rem;
  width: 75%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 13rem;
}

@media (max-width: 768px) {
  .about-partners {
    align-items: center;
    text-align: center;
  }

  .about-partners h2 {
    align-items: center;
    text-align: center;
    margin-right: 2.5rem;
  }
  
  .about-partners p {
    align-items: center;
    text-align: center;
    margin-left: 10rem;
    width: 40%;
  }
}

.about-goals-vision {
  display: flex;
  background: linear-gradient(to bottom, aliceblue, rgb(148, 208, 228), aqua);
}

.about-goals-vision h2 {
  font-size: 2rem;
  text-align: center;
  color: #000000;
}

.vision {
  color: #007bff;
  font-size: 1.1rem;
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 3rem;
  /* margin-bottom: 2rem; */
  padding: 1rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);  
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.horizon-vision {
  width: 25%;
  height: 30%;
  margin-top: 1rem;
  margin-left: 5rem;
  padding: 1.5rem;
}

@media (max-width: 768px) {
  .about-goals-vision {
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  
  /* .about-goals-vision h2 {
    text-align: center;
    margin-left: 1rem;
  } */
  
  .vision {
    width: 35%;
    margin-left: 0.5rem;
  }
  .horizon-vision {
    width: 40%;
    margin-top: 1rem;
    margin-right: 7.5rem;
  }
}

/* .about-community {
  
}

.about-community h2 {

} */

.about-timeline {
  position: relative;
  padding: 40px;
  background: linear-gradient(to bottom, aliceblue, rgb(148, 208, 228));
}

.about-timeline h2 {
  font-size: 2rem;
  color: black;
}

.timeline {
  display: flex;
  flex-direction: row;
  /* white-space: nowrap;  */
  height: 300px; 
  margin-top: 2rem;
  overflow-y: auto; 
}


.timeline-item {
  position: relative;
  margin-right: 50px;
  padding: 4rem;
  /* border: 2px solid #333; */
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.2);
  width: 500px;
  transition: box-shadow 0.3s ease, background-color 0.3s;
  /* height: 100%; */
}

.timeline-branch {
  position: absolute;
  width: 10px; /* Adjust this for the desired line thickness */
  background-color: #007bff; /* Line color */
  left: 50%; /* Position the line in the center */
  /* top: 0;
  bottom: 0; */
  /* transform: translateX(-50%); */
}


.timeline-content h3 {
  font-size: 1.5rem;
  color: #007bff;
  text-align: left;
  width: 250px;
}

.timeline-content p {
  font-size: 1.5rem;
  text-align: left;
  width: 400px;
}

@media (max-width: 768px) {
  .about-timeline {
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .about-timeline h2 {
    font-size: 2rem;
    margin-right: 2rem;
  }

  .timeline {
    width: 60%;
    height: 50%;
    flex-direction: column;
    margin-left: 3.5rem;
  }

  .timeline-item {
    width: 90%;
    height: auto;
    margin-top: 1rem;
    margin-left: 4.5rem;
  }

  .timeline-content h3 {
    font-size: 1.5rem;
    padding: 1rem;
    width: 100%;
    margin-right: 3.5rem;
  }

  .timeline-content p {
    font-size: 1.5rem;
    /* padding: 1rem; */
    width: 100%;
  }

}

.faq-section {
  background-color: aliceblue;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  /* margin-bottom: 5rem; */
}

.faq-section h3 {
  font-size: 2rem;
  margin-top: 2rem;
}

.question h4 {
  font-size: 1.1rem;
  width: 90%;
  height: 75%;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 3rem;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.answer {
  font-size: 1.1rem;
  color: #007bff;
  width: 90%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 3.5rem;
  padding: 1rem;
}

.toggle-icon {
  font-size: 1.5rem;
  /* margin-bottom: 1.5rem; */
  /* padding-bottom: 3rem; */
  float: right;
}

@media (max-width: 768px) {
  .faq-section {
    width: 40%;
    /* height: 50%; */
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 7.5rem;
  }

  .faq-section h3 {
    margin-left: 5rem;
  }
}

/*Projects Section*/

.portfolio-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  /* background-size: cover;  */
}

.portfolio-background {
  position: absolute;
  margin-top: -2.3rem;
  /* margin-bottom: 22rem; */
  width: 100%; 
  height: 12%; 
  object-fit: cover;
  /* background-size: contain; */
}

.title h2 {
  font-size: 2.5rem;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-right: 5.5rem; */
  margin-top: 2rem;
  color: aliceblue;
  width: 100%;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sub-text {
  font-size: 1.3rem;
  color: aliceblue;
  position: relative;
  margin-top: 1rem;
  margin-left: 22rem;
  margin-bottom: 24rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 55%;
}

.sub-navbar {
  position: absolute;
  margin-top: -4rem;
  /* margin-right: 4rem; */
  font-size: 1.2rem;
  /* flex-direction: row; */
  width: 100%;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  /* color: black; */
}

.sub-navbar ul {
  font-size: 1.5rem;
  display: flex;
  /* text-decoration: none; */
}

.sub-navbar ul li {
  padding: 2rem;
  color: #007bff;
}

.sub-navbar li {
  position: relative;
}

.sub-navbar ul li button.hover-effect:hover {
  color: aqua ;
  background:black ;
  padding: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.development-dropdown {
  display: flex;
  flex-direction: column;
  width: 25%;
  position: absolute;
  top: 70%; /* Position dropdown below the list item */
  /* left: 0; */
  list-style-type: none;
  background-color: #fff; /* Adjust background color as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
  z-index: 1; /* Ensure the dropdown is above other elements */
}

.industry-dropdown {
  display: flex;
  flex-direction: column;
  width: 20%;
  position: absolute;
  top: 70%; /* Position dropdown below the list item */
  right: 35rem;
  list-style-type: none;
  background-color: #fff; /* Adjust background color as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
  z-index: 1; /* Ensure the dropdown is above other elements */
}

.mid-text {
  font-size: 1.5rem;
  margin-top: 2.5rem;
  margin-left: 13rem;
  width: 75%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 30%;
  margin-left: 5rem;  
  /* gap: 20px; */
}

.project-card {
  position: relative; 
  width: 100%;
  height: 30%; 
  margin-top: 4rem;
  margin-left: 8rem;
  justify-content: center;
  align-items: center; 
  color: black;
  flex: 1;
  box-sizing: border-box;
  /* background-color: aqua; */
  /* margin-left: 2rem; */
  /* margin-right: 0.2rem;  */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* top: 7rem; */
  /* animation: slide-in 20s infinite; */
}

.project-card img {
  /* overflow: hidden; */
  width: 90%; 
  height: 100%;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  /* transition: transform 0.3s ease-in-out; */
  /* margin-top: 4rem; */
}


.project-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease-in-out; 
}

.project-card-overlay:hover {
  opacity: 1;   
}

.project-card-overlay .project-card-image-link h3 {
  color: black;
}

.project-card-overlay:hover .project-card-image-link h3 {
  opacity: 1;
  color: aliceblue;
  cursor: pointer;
}

.project-card-details {
  justify-content: center;
  align-items: center; 
  text-align: center;
  width: 90%;
  margin-bottom: 2rem;
  font-size: 15px;
  color: aliceblue;
  height: 200%;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur (10px);
  /* border-radius: 10px; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
} 


.project-card-details h3{
  position: relative;
  /* margin-top: -10rem; */
  margin-right: 8rem;
  /* padding: 0 1.4rem; */
  border: none;
  /* float: left; */
  /* background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur (10px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
  color: #007bff;
  width: 100%;
}

.project-card-details h4 {
  font-size: 1.5rem;
  text-align: center;
  color: black;
  width: 10rem;
  margin-left: 5rem;
  margin-bottom: 1rem;
  position: relative;
  border-radius: 5px;
  border: none;
  background: aqua;
  padding: 0 1.2rem;
}

.project-card-details p {
  color: black;
  border: none;
  width: 100%;
  margin-left: auto;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  /* border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur (10px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
  /* height: 100%; */
  /* margin-right: 7rem; */
  /* margin-bottom: 2rem; */
  /* padding: 2rem; */
}

.project-card-overlay h3 {
  color: #fff; 
  font-size: 1.5rem;
  text-align: center;
}

.project-card-overlay a {
  color: #fff;
  text-decoration: none; 
}

.project-card-overlay a:hover {
  text-decoration: underline; /* add underline effect on hover */
}

.project-card-details h5{ 
  font-size: 2rem;
  color: #007bff;
}

.technology-icon {
  font-size: 1.5rem;
  color: #007bff;
  display: inline-flex;
  margin-right: 5px; /* Add some spacing between icons if needed */
  align-items: center;
}

.post-text {
  font-size: 1.5rem;
  margin-top: 2.5rem;
}

.marketplace-link {
  display: inline-flex;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur (10px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color:#007bff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin-top: 3rem;
  margin-bottom: 5rem;
  transition: background-color 0.3s ease-in-out;
}

.marketplace-link:hover {
  background-color: black;
  color: aqua;
}

@media (max-width: 767px) {
  .portfolio-container {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }

  .portfolio-background {
    margin-top: -2rem;
    width: 100%;
    height: 4.5%;
  }

  .title h2 {
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-left: 2rem;
    width: 75%;
  }

  .sub-text {
    font-size: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    width: 75%;
  }

  .sub-navbar {
    margin-top: 5rem;
    margin-left: 1.5rem;
    width: 75%;
  }
  
  .sub-navbar ul {
    flex-direction: column;
    font-size: 1rem;
  }

  .sub-navbar ul li {
    padding: 1rem;
  }

  .development-dropdown {
    width: 100%; /* Full width for smaller screens */
    right: auto;
  }

  .industry-dropdown {
    width: 100%; /* Full width for smaller screens */
    right: auto;
    margin-top: 1rem;
  }

  .mid-text {
    font-size: 1.2rem;
    margin-top: 32rem;
    margin-left: 2rem;
    width: 75%;
  }

  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
    width: 80%; /* Adjust as needed */
    margin-left: auto;
    margin-right: auto;
  }

  .project-card {
    margin-top: 1rem;
    margin-left: 0.8rem;
    /* margin-bottom: 12rem; */
    padding-bottom: 5rem;
    width: 100%;
    height: 40%;
  }

  .project-card img {
    width: 90%;
  }

  .project-card-details {
    margin-bottom: 3rem;
  }

  .project-card-details h4 {
    margin-left: 1rem;
  }

  .post-text {
    width: 85%;
    margin-left: 1rem;
    text-align: center;
  }

  .marketplace-link {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
  }
}

/* Technologies */

.technologies-container {
  display: block;
  /* position: relative; */
  /* margin-top: -5.3rem; */
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  /* background-size: cover;  */
}

.background-design {
  position: absolute;
  margin-top: -1.8rem;
  margin-bottom: 12rem;
  width: 100%; 
  height: 24%; 
  object-fit: cover;
  /* background-size: contain; */
}

/* Careers */

.careers-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background: aliceblue;
}

.careers-background {
  position: absolute;
  margin-top: -6.3rem;
  width: 100%;
  height: 12%;
  object-fit: cover;
}

.career-title h2{
  font-size: 3.5rem;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 6rem;
  color: aliceblue;
  width: 100%;
}

.career-title p {
  font-size: 2rem;
  color: aliceblue;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.head-text {
  font-size: 1.8rem;
  color: aqua;
  position: relative;
  margin-top: 1rem;
  margin-left: 24rem;
  margin-bottom: 24rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 55%;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideFromLeft 1s ease forwards;
}

.careers-button {
  display: flex;
  font-size: 1.5rem;
  margin-top: 3rem;
  background-color: aqua;
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
}

.why-work {
  font-size: 10rem;
  color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 42rem;
  margin-left: 35rem;
  padding: 1rem;
  width: 35%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.career-description {
  color: black;
  font-size: 1.4rem;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: flex-end; /* Move the content to the left */
  /* align-items: flex-end;  */
  text-align: left;
  float: right;
  /* flex-direction: column; */
  margin-top: 15rem;
  margin-right: 4rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.learning-too {
  width: 35%;
  height: auto;
  margin-top: 8rem;
  margin-left: 4rem; /* Adjusted margin to move the image to the left */
}

/* First circle */
.random-design::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: #007bff;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-right: 28rem;
}

.random-design::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: aqua;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: -3rem;
  margin-left: 28rem;
}

/* Second circle */
.random-design:nth-child(2)::before {
  content: "";
  display: block;
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  background-color: aqua; /* Different color */
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

/* Third circle */
.random-design:nth-child(3)::before {
  content: "";
  display: block;
  width: 60px; /* Adjust size as needed */
  height: 60px; /* Adjust size as needed */
  background-color: black; /* Different color */
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

/* Fourth circle */
.random-design:nth-child(2)::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: #007bff;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

/* Fifth circle */
.random-design:nth-child(3)::after {
  content: "";
  display: block;
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  background-color: aqua; /* Different color */
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

/* Sixth circle */
.random-design:nth-child(4)::after {
  content: "";
  display: block;
  width: 60px; /* Adjust size as needed */
  height: 60px; /* Adjust size as needed */
  background-color: black; /* Different color */
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

.career-description-two {
  color: black;
  font-size: 1.4rem;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: flex-start; /* Move the content to the left */
  align-items: flex-start; 
  text-align: left;
  float: left;
  /* flex-direction: column; */
  margin-top: 12rem;
  margin-left: 4rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.learning {
  width: 40%;
  height: auto;
  margin-top: 2rem;
  margin-left: 20rem; 
  padding: 2.5rem;
  /* float: right; */
}

.having-fun-description {
  color: black;
  font-size: 1.4rem;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: flex-start; /* Move the content to the left */
  align-items: flex-start; 
  text-align: left;
  float: right;
  /* flex-direction: column; */
  margin-top: 12rem;
  margin-right: 4rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.having-fun {
  width: 35%;
  height: auto;
  margin-top: 3rem;
  margin-left: 6rem; /* Adjusted margin to move the image to the left */
}

.we-offer {
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(to bottom, aliceblue, rgba(148, 208, 228));
}

.we-offer p {
  font-size: 1.1rem;
  color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  margin-left: 16rem;
  padding: 1rem;
  width: 70%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.offer-icon {
  width: 25%;
  margin-left: 7.5rem;
  justify-content: center;
  align-items: center;
}

.we-offer ul {
  list-style: none;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  margin-left: 17rem;
  
}

.we-offer ul li {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 95%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px 10px;
}

.career-description-three {
  color: black;
  font-size: 1.4rem;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: flex-end; /* Move the content to the left */
  /* align-items: flex-end;  */
  text-align: left;
  /* float: right; */
  /* flex-direction: column; */
  margin-top: 7rem;
  margin-left: 26rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.working {
  width: 35%;
  height: auto;
  margin-top: 3rem;
  margin-left: 34rem; /* Adjusted margin to move the image to the left */
  padding: 1rem;
}

.hiring-process {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hiring-process h3 {
  font-size: 3rem;
  color: aliceblue;
  border-radius: 50px;
  background-color: #003468;
  width: 20%;
  margin-left: 8rem;
  padding: 0.3rem;
}

.hiring-process p {
  font-size: 1.1rem;
  color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  margin-left: 16rem;
  padding: 1rem;
  width: 70%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.hiring-process ul {
  /* font-size: 1.1rem; */
  list-style: none;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  margin-left: 17rem;  
}

.hiring-process ul li {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 95%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px 10px;
}

.hiring-process strong {
  font-size: 1.5rem;
}

.hiring-arrow {
  font-size: 5.5rem;
}

.opportunity h2 {
  text-decoration: underline;
  margin-top: 7rem;
  font-size: 2.5rem;
}

.opportunity p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.opportunity hr {
  margin-top: 3rem;
  margin-left: 10rem;
  margin-bottom: 3rem;
  width: 80%;
}

.dont-see {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
  margin-left: 16rem;
  padding: 2rem;
  width: 70%;
  /* height: 100%; */
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.dont-see p {
  font-size: 1.3rem;
}

@media (max-width: 767px) {
  .careers-container {
    /* width: 100%;
    height: 100%; */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* display: flex;
    flex-direction: column; */
  }

  .careers-background {
    position: relative;
    margin-top: -2.3rem;
    margin-left: 13rem;
    width: 73%;
    height: 4.5%;
  }

  .career-title h2 {
    font-size: 2rem;
    margin-top: -21rem;
    margin-left: 1rem;
    width: 90%;
    text-align: center;
  }

  .career-title p {
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 90%;
    text-align: center;
  }

  .head-text {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-left: 14rem;
    margin-bottom: 2rem;
    width: 35%;
    text-align: center;
  }

  .why-work {
    width: 30%;
    margin-top: 10rem;
    margin-left: 15.8rem;
    margin-right: 2rem;
  }

  .career-description {
    font-size: 1.1rem;
    width: 30%;
    margin-top: 2rem;
    margin-left: 12rem;
    margin-right: 18.5rem;
    margin-bottom: 2rem;
    /* padding: 1rem; */
  }

  .learning-too {
    width: 35%;
    margin-top: 9rem;
    margin-left: 14.7rem;
  }
  
  .random-design::before,
  .random-design::after {
    width: 7%;
    margin-left: 21rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .career-description-two {
    font-size: 1.1rem;
    width: 30%;
    margin-top: 2rem;
    margin-left: 16rem;
    margin-right: 18rem;
    margin-bottom: 1rem;
    /* padding: 1rem; */
  }

  .learning {
    width: 45%;
    margin-top: 7rem;
    margin-left: 12rem;
  }

  .having-fun-description {
    font-size: 1.1rem;
    width: 30%;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 19rem;
    margin-bottom: 2rem;
    /* padding: 1rem; */
  }

  .having-fun {
    width: 38%;
    margin-top: 7rem;
    margin-left: 13.5rem;
  }
  
  
  /* .career-description p,
  .career-description-two p,
  .having-fun-description p {
    font-size: 1rem;
    width: 25%;
    height: auto;
    margin-left: 20rem; 
    margin-right: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
  } */

  /* .career-description-three p {
    font-size: 1rem;
    width: 50%;
    height: 58%;
    margin-left: 1rem; 
    margin-right: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
  } */
  
  
  /* .random-design:nth-child(2)::before,
  .random-design:nth-child(3)::before,
  .random-design:nth-child(2)::after,
  .random-design:nth-child(3)::after,
  .random-design:nth-child(4)::after {
    width: 100%;
    margin-top: 5rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */
  
  .we-offer h2 {
    margin-left: 1rem;
    margin-right: 4rem;
  }
  
  .we-offer p {
    font-size: 1rem;
    width: 30%;
    margin-left: 15rem; /* Adjust as needed */
    text-align: left;
  }
  
  .we-offer ul {
    width: 40%;
    margin-left: 13rem;
    display: flex;
    flex-direction: column;
  }
  
  .offer-icon {
    width: 30%;
    margin-left: 5rem;
  }
  
  .we-offer ul li {
    width: 90%;
    margin: 1rem auto;
    flex-direction: column;
  }
  
  .hiring-process h2 {
    margin-left: 1rem;
    margin-right: 4rem;
  }
  
  .hiring-process h3 {
    font-size: 2rem;
    margin-left: 5rem; /* Adjust as needed */
    width: 25%;
    text-align: center;
  }
  
  .hiring-process p {
    font-size: 1rem;
    margin-left: 15.3rem; /* Adjust as needed */
    width: 30%;
    text-align: left;
  }
  
  .hiring-process ul {
    width: 50%;
    margin-left: 10.5rem;
    display: flex;
    flex-direction: column;
  }
  
  .hiring-process ul li {
    width: 70%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
  }
  
  .hiring-arrow {
    transform: rotate(90deg); /* Rotate the arrow 90 degrees clockwise */
    margin-left: 1rem;
  }
  
  .opportunity h2 {
    font-size: 1.5rem;
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 10rem;
    margin-right: 3rem;
    text-align: center;
  }
  
  .opportunity p {
    font-size: 1rem;
    width: 30%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 15rem;
    text-align: center;
  }
  
  .opportunity hr {
    width: 40%;
    margin-left: 13.3rem;
  }
  
  .career-description-three {
    font-size: 1.1rem;
    width: 35%;
    margin-top: 2rem;
    margin-left: 14.2rem;
    margin-right: 17rem;
    margin-bottom: 2rem;
  }

  .working {
    width: 40%;
    margin-left: 13rem;
  }
  
  .dont-see {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 14.3rem; /* Adjust as needed */
    width: 35%;
    text-align: center;
  }
  
  .dont-see p {
    font-size: 1rem;
  }

  .careers-button {
    width: 100%;
  }
}


/* Insider */

/* Resume */

.resume-container {
  margin-bottom: 0;
}

.resume-card {
  position: relative;
  z-index: 1;
  /* margin-bottom: 0rem; */
  padding: 20px 10px 20px 10px;
  /* background: rgb(5, 5, 41); */
  background: linear-gradient(to bottom, rgb(5, 5, 41), rgb(61, 67, 102));
  font-size: 20px;
  /* Add styles for the box */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 4rem auto;
  color: white;
}

.resume-container .background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1; /* Set a negative z-index to place the video behind the card */
}

.resume-card h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
}

.resume-card p {
  font-size: 1rem;
  margin: 1rem;
  color: whitesmoke;
}

.resume-card ul {
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 0;
  text-align: center;
}

.resume-card h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* .resume-card li {
  font-size: 24px;
  margin-bottom: 2px;
} */



.resume-title:hover {
  color: rgb(231, 235, 12);
}

.resume-download-button {
  margin-bottom: 1rem;
  margin-left: 17rem;
  }

  .resume-download-button button {
      /* Customize button styles */
      background-color: #007bff; /* Set background color */
      color: #fff; /* Set text color */
      padding: 0.5rem 1rem; /* Set padding */
      border: none; /* Remove border */
      cursor: pointer; /* Add cursor pointer */
      font-size: 1rem; /* Set font size */
      font-weight: bold; /* Set font weight */
      border-radius: 4px; /* Add border radius */
      transition: background-color 0.3s ease-in-out; /* Add transition effect */
    }
    
    .resume-download-button button:hover {
      /* Change styles on hover */
      background-color: #0056b3; /* Change background color */
    }  
    

/* .contact-info {
  margin-top: 1rem;
} */

      
