/* Navbar */

/* .navbar {
  display: flex;
  align-items: center;
}

.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px;
}

.nav-tabs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.projects {
  color: whitesmoke;
  padding-right: 0;
  margin: 0 0.8rem;
  font-family: "Orbitron","Quantico", sans-serif;
  font-size: 1.2rem;
  line-height: 1.9;
  list-style-type: none;
}

.projects:hover {
  color: rgb(245, 71, 40);
}

.contact {
  color: whitesmoke;
  padding-right: 0;
  margin: 0 0.8rem;
  font-family: "Orbitron","Quantico", sans-serif;
  font-size: 1.2rem;
  line-height: 1.9;
  list-style-type: none;
}

.contact:hover {
  color: magenta;
}

.about-me {
  color: whitesmoke;
  padding-right: 0;
  margin: 0 0.9rem;
  font-family: "Orbitron","Quantico", sans-serif;
  font-size: 1.2rem;
  line-height: 1.9;
  list-style-type: none;
}

.about-me:hover {
  color: cyan;
}

.resume {
  color: whitesmoke;
  padding-right: 0;
  margin: 0 0.9rem;
  font-family: "Orbitron","Quantico", sans-serif;
  font-size: 1.2rem;
  line-height: 1.9;
  list-style-type: none;
}

.resume:hover {
  color: rgb(231, 235, 12)
} */